# Standard Ignore
node_modules/
dist/
build/
.DS_Store
*.log

# NOT IGNORING ENV (As requested for team sharing)
# .env is deliberately committed
# !.env

# Hardhat
cache/
artifacts/
node_modules/
backend/node_modules/
Frontend/nft-viewer/node_modules/
